<!DOCTYPE html>
<html ng-app="application">
<head>
	<title>Get Github User ID</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		* {font-family: 'Droid Sans', Tahoma, sans-serif;}
		img.ava {max-width:100px !important;}
		m50 {margin-top: 50px;}
	</style>
</head>
<body ng-controller="githubCtrl">
	<div class="container center-block">
		<h1>Get your GitHub User ID</h1>
		<hr />
		<div class="row text-center">
			<div class="col-md-6 col-md-offset-3">
				<input type="text" class="form-control input-lg" ng-model="user.name" /> <br />
				<button class="btn btn-lg btn-primary center-block" ng-click="post(user)">Get Id</button>
			</div>
		</div>
		<div class="row" ng-show="user.name">
			<div class="col-md-12 text-center"><h2>Your id is <span class="text-danger">{{finalId}}</span></h2></div>
		</div>
		<div class="row m50" ng-show="user.name">
			<div class="col-md-6">
				<i>Current Avatar</i><br />
				<img ng-src="{{data.avatar_url}}" class="ava" />
			</div>
			<div class="col-md-6">
				<i>Current Identicon</i><br />
				<img ng-src="https://github.com/identicons/{{data.login}}.png" class="ava" alt="" />
			</div>
		</div>
			
			

	</div>
	
	<footer class="text-center m50">
		<p>Built because I needed some practice with AngularJS and the Github API.</p>
		<img src="http://forthebadge.com/images/badges/built-with-love.svg"> 
		<img src="http://forthebadge.com/images/badges/powered-by-comcast.svg"> 
		<img src="http://forthebadge.com/images/badges/uses-js.svg">
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
